
body {
  background: white;
  font-family: 'Roboto Condensed', 'IBM Plex Sans','DM Serif Text', Georgia;
}

.skip a {

  position: absolute;
  top: -60px;
  font-size: 20px;
  background: white;
}

.skip a:focus{
  position: absolute;
  top: 0px;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 400px 300px 100px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;

}

footer {
  grid-column: `1 / span 2;
  grid-row-end: -1;`
  bottom: 10px;
  color: #5D5D5D;
  text-align: center;
}


.aboutme-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 350px 500px 420px 300px 100px;
  grid-row-gap: 15px;
  justify-content: center;
  position: relative;
  left: 10px;
  grid-column-gap: 10px;


}

.experiences-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 350px 160px 300px 150px 400px 100px;
  grid-row-gap: 15px;
  justify-content: center;

}


.projects-container{

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 350px 200px 200px 100px 100px;
  grid-row-gap: 15px;
  justify-content: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 350px 400px 400px 400px 400px 400px 400px 400px 400px 400px 100px;
  grid-row-gap: 10px;
  /* left: 15px; */
}

.contact-container {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 350px 50px 100px 100px 100px 100px 100px;
  grid-row-gap: 10px;
  justify-content: center;
}

h1 {
  color: #1c124d;
  font-size: 73px;
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  position: relative;
  top: 45px;
  /* left: 7px; */
  justify-self: center;
  animation-name: example;
  animation-duration: 4s;
  animation-name: bounceIn;
  animation-duration: 2s;
}

@keyframes example {
  from{color: #1c124d;}
  to{color: #7e74b5;}
}

@keyframes bounceIn {
  0% {
   transform: scale(0.1);
   opacity: 0;
 }
 60% {
   transform: scale(1.2);
   opacity: 1;
 }
 100% {
   transform: scale(1);
}
}
.nav {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
  text-align: center;
  position: relative;
  justify-self: center;
}

nav li {

  display: block;
  font-size: 25px;
  padding-bottom: 20px;

}

nav a{
  color: black;
  text-decoration: none;

}

.active {

  font-weight: 1000;

}

.home-image {

 grid-column: 1 / 2;
 grid-row: 3 / 4;
 justify-self: end;
}


.hello{

  position: relative;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 50px;
  justify-self: start;
  left: 1px;
}

.introp{
  position: relative;
  top: 60px;
  font-size: 20px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#design {
  color: #D3530E;
}
img {
  width: 200px;
}

.northquad-image{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  justify-self: end;

}

.northquad-image img {
  width: 200px;
  position: relative;
  /* left: -10px; */
}

.studieshead{
  position: relative;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 25px;
  left:1px;
}

#studiesp {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  top: 30px;
  font-size: 15px;
  justify-self: start;
}
.fleetwood-image {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  justify-self: start;
}

.fleetwood-image img {
  width: 200px;
  position: relative;
  /* left: -10px; */
  justify-self: start;
}
.musichead {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  font-size: 25px;
  justify-self: end;
  left: 1px;
}

#musicp {
  position: relative;
  top: 30px;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  font-size: 15px;
  justify-self: end;
  left: 5px;
  margin-left: 5px;

}

.parthenon-image{
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  justify-self: end;
}

.parthenon-image img {
  width: 200px;
  position: relative;
  /* right: 0px; */
  justify-self: end;
}
.greekhead {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  font-size: 25px;
  justify-self: start;
  left: 1px;
}

#greekp{
  position: relative;
  top: 55px;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  font-size: 15px;
  justify-self: start;
}



.southgatep {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
  font-size: 15px;
  text-align: center;
}

.market-image {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
  justify-self: center;

}

.starbucksp {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
  font-size: 15px;
  text-align: center;
}

.sbux-image {
  grid-column: 1 / span 2;
  grid-row: 6 / 7;
  justify-self: center;
}

.market-image img{
  width: 300px;
  position: relative;
  /* left: 40px; */
}

.sbux-image img {
  width: 300px;
  position: relative;
  /* left: 40px; */
  top: -20px;
}

.UMD {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
  text-align: center;
  font-size: 20px;
}

.priorityh2 {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  text-align: center;
  justify-self: center;
  font-size: 23px;
}

.priorityp {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
  text-align: center;
  position: relative;
  top: 30px;
}

.queue-image img {
  visibility: hidden;
}

.queue-image {
  grid-column: 1 / span 2;
  justify-self: center;
}
.cch2 {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
  text-align: center;
  font-size: 23px;
}

.ccp {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
  text-align: center;
  position: relative;
  top: 30px;
}

.cc-image img {

  visibility: hidden;
}

.cc-image {
  grid-column: 1 / span 2;
  justify-self: center;
}
.bluewater-image {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
  justify-self: center;
}

.chapel-image {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
  justify-self: center;

}

.sunsetboat-image {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
  justify-self: center;

}

.palm-image {
  grid-column: 1 / span 2;
  grid-row: 6 / 7;
  justify-self: center;

}

.jugs-image {
  grid-column: 1 / span 2;
  grid-row: 7 / 8;
  justify-self: center;

}

.rocks-image {
  grid-column: 1 / span 2;
  grid-row: 8 / 9;
  justify-self: center;

}

.santorinidinner-image {
  grid-column: 1 / span 2;
  grid-row: 9 / 10;
  justify-self: center;

}

.monastery-image {
  grid-column: 1 / span 2;
  grid-row: 10 / 11;
  justify-self: center;

}

.theatre-image {
  grid-column: 1 / span 2;
  grid-row: 11 / 12;
  justify-self: center;

}

.gal {
  width: 300px;
  /* left: 40px; */
  justify-self: center;
}

.imgs {
  justify-self: center;
}



 .contacth2 {

  grid-column: 1 / span 2;
  grid-row: 3 / 4;
  font-size: 20px;
  text-align: center;
}

#contact {
  justify-self: center;
  align-content: center;
}

.nameform {
  position: relative;
  grid-row: 4 / 5;
  margin-bottom: 15px;
  top: 10px;
}

.emailform {
  position: relative;
  grid-row: 5 / 6;
  margin-bottom: 20px;
  left: 2px;

}

.messageform {

  grid-row: 6 / 7;
  margin-bottom: 15px;
  position: relative;
  left: -20px;
  top: 10px;

}

.submit {
  grid-row: 7 / 8;
  position: relative;
  left: 90px;
}

label {
  position: relative;
  left: -7px;
}


@media screen and (min-width: 1024px){
  .home-container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 100px 500px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;

  }

  h1 {
    grid-column: 1 / span 2;
  }

  .nav {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  div nav ul{

    text-align: center;

  }

  nav li {
    display: inline;
    font-size: 20px;
    padding-right: 10px;

  }
   .home-image {

    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: end;
    position: relative;
  }

  .home-image img {
    width: 400px;

  }

  h2{

    position: relative;
    top: 70px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-family: 'Roboto Condensed', 'IBM Plex Sans';
    font-size: 60px;
    left: -120px;
  }

  .introp{
    position: relative;
    top: 122px;
    font-family: 'Roboto Condensed', 'IBM Plex Sans';
    font-size: 35px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    bottom: 10px;
    justify-self: start;
  }

  .aboutme-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 100px 400px 300px 400px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .northquad-image img {
    width: 300px;

  }

  .studieshead{

    font-size: 30px;
  }

  #studiesp {
    top: 110px;
    font-size: 22px;
  }
  .fleetwood-image img {
    width: 300px;

  }
  .musichead {

    font-size: 30px;
  }

  #musicp {
    top: 110px;
    font-size: 22px;
    justify-self: end;
  }

  .parthenon-image img {
    width: 300px;

  }
  .greekhead {

    font-size: 30px;
  }

  #greekp{
    top: 110px;
    font-size: 22px;
  }
  .experiences-container{
    grid-template-rows: 150px 100px 160px 400px 150px 450px 100px;
  }

  .southgatep {
    font-size: 22px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .starbucksp {
    font-size: 22px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .market-image img{
    width: 400px;

  }

  .sbux-image img {
    width: 400px;
    top: -20px;
  }

  .projects-container{

    grid-template-rows: 150px 100px 200px 150px 300px 220px 300px 100px;

  }

  .UMD {
    font-size: 30px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .priorityh2 {
    grid-row: 4 / 5;
    font-size: 27px;
    grid-column: 1 / -1;
    text-align: center;
    left: 2px;
    top: -20px;
  }

  .priorityp {
    grid-column: 1 / span 2;
    top: 30px;
    font-size: 23px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .queue-image img {
    width: 500px;
    visibility: visible;
    grid-row: 5 / 6;
  }

  .cch2 {
    grid-row: 6 / 7;
    font-size: 27px;
    left: 2px;
  }

  .ccp {
    grid-row: 6 / 7;
    top: 120px;
    font-size: 23px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .cc-image img {
    width: 500px;
    visibility: visible;
  }

  .cc-image {
    grid-row: 7 / 8;
    justify-self: center;

  }

  .gallery-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 400px 400px 400px 100px;
    grid-row-gap: 15px;
  }



  .bluewater-image {
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .chapel-image {
  justify-self: center;
    grid-column: 2;
    grid-row: 3;
  }

  .sunsetboat-image {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-self: center;

  }

  .palm-image {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    justify-self: center;

  }

  .jugs-image {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;

  }

  .rocks-image {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: center;

  }

  .santorinidinner-image {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: center;

  }

  .monastery-image {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    justify-self: center;

  }

  .theatre-image {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    justify-self: center;

  }

  .contact-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 100px 50px 100px 100px 100px 100px 100px;
    grid-row-gap: 10px;
    justify-content: center;
  }

  .contacth2 {

   grid-column: 1 / span 2;
   grid-row: 3 / 4;
   font-size: 20px;
   text-align: center;
   position: relative;
   top:-15px;
   left: 1px;
  }

#contact {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  font-size: 20px;
}

#email, #name, textarea {
  font-size: 30px;
}
#sub {
  font-size: 15px;
  position: relative;
  left: 100px;
  top: 10px;
}
  footer {
    grid-column: 1 / span 2;
    grid-row-end: -1;
    text-align: center;
  }
  #galhead {
    grid-column: 1 / span 3;
  }

}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .home-container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 100px 500px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;

  }

  h1 {
    grid-column: 1 / span 2;
  }

  .nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  div nav ul{

    text-align: center;

  }

  nav li {
    display: inline;
    font-size: 20px;
    padding-right: 10px;

  }
   .home-image {

    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    position: relative;
    left: 40px;
  }

  .home-image img {
    width: 250px;

  }

  h2{

    position: relative;
    top: 70px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-family: 'Roboto Condensed', 'IBM Plex Sans';
    font-size: 25px;
    left: -30px;
  }

  .introp{
    position: relative;
    top: 150px;
    font-family: 'Roboto Condensed', 'IBM Plex Sans';
    font-size: 30px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: start;
  }

  .aboutme-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 100px 400px 300px 400px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .northquad-image img {
    width: 250px;

  }

  .studieshead{

    font-size: 25px;
    top: 40px;
    left: 1px;
  }

  #studiesp {
    top: 80px;
    font-size: 18px;
  }
  .fleetwood-image img {
    width: 250px;

  }
  .musichead {

    font-size: 25px;
    left: 3px;
  }

  #musicp {
    top: 110px;
    font-size: 18px;
    justify-self: end;
  }

  .parthenon-image img {
    width: 250px;

  }
  .greekhead {

    font-size: 25px;
    left: 1px;
  }

  #greekp{
    top: 110px;
    font-size: 18px;
  }
  .experiences-container{
    grid-template-rows: 150px 100px 300px 400px 250px 450px 100px;
  }

  .southgatep {
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .starbucksp {
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .market-image img{
    width: 425px;

  }

  .sbux-image img {
    width: 425px;
    top: -20px;
  }

  .projects-container{

    grid-template-rows: 150px 70px 200px 150px 300px 220px 300px 100px;

  }

  .UMD {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .priorityh2 {
    grid-row: 4 / 5;
    font-size: 27px;
    margin-left: 200px;
    margin-right: 200px;
    left: 2px;
    top: -20px;
  }

  .priorityp {
    grid-column: 1 / span 2;
    top: 30px;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .queue-image img {
    width: 500px;
    visibility: visible;
    grid-row: 5 / 6;
  }

  .cch2 {
    grid-row: 6 / 7;
    font-size: 27px;
    margin-left: 200px;
    margin-right: 200px;
    left: 2px;
  }

  .ccp {
    grid-row: 6 / 7;
    top: 120px;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .cc-image img {
    width: 500px;
    visibility: visible;
  }

  .cc-image {
    grid-row: 7 / 8;
    justify-self: center;

  }
  .gallery-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 100px 600px 600px 600px 600px 600px 600px 600px 600px 600px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .gal {
    width: 400px;
  }

  .bluewater-image {
    justify-self: center;

    grid-column: 1 / span 2;
    grid-row: 3 / 4;
  }

  .chapel-image {
    justify-self: center;

    grid-column: 1 / span 2;
    grid-row: 4 / 5;
  }

  .sunsetboat-image {
    justify-self: center;

    grid-column: 1 / span 2;
    grid-row: 5 / 6;
  }

  .palm-image {
    justify-self: center;

    grid-column: 1 / span 2;
    grid-row: 6 / 7;
  }

  .jugs-image {
    justify-self: center;

    grid-column: 1 / span 2;
    grid-row: 7 / 8;
  }

  .rocks-image {
    justify-self: center;

    grid-column: 1 / span 2;
    grid-row: 8 / 9;
  }

  .santorinidinner-image {
    justify-self: center;

    grid-column: 1 / span 2;
    grid-row: 9 / 10;
  }

  .monastery-image {
    justify-self: center;

    grid-column: 1 / span 2;
    grid-row: 10 / 11;
  }

  .theatre-image {
    justify-self: center;

    grid-column: 1 / span 2;
    grid-row: 11 / 12;
  }

  .contact-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 100px 50px 100px 100px 100px 100px 100px;
    grid-row-gap: 10px;
    justify-content: center;
  }

  /* .contacth2 {

    grid-column: 1 / span 2;
    grid-row: 3 / 4;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -20px;
  }

  #contact {
  justify-self: center;
  } */


  input{
    margin-bottom: 20px;
    font-size: 30px;
  }

}

@media (prefers-reduced-motion: reduce){
  h1 {
    animation-name: none;
    animation-duration: none;
  }
}
