
body {
  background: white;
  font-family: 'Roboto Condensed', 'IBM Plex Sans','DM Serif Text', Georgia;
}

.skip a {

  position: absolute;
  top: -60px;
  font-size: 20px;
  background: white;
}

.skip a:focus{
  position: absolute;
  top: 0px;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 400px 300px 100px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;

}

footer {
  grid-column: `1 / span 2;
  grid-row-end: -1;`
  text-align: center;
  position: relative;
  left: 20px;
  bottom: 10px;
  color: gray;
}
.aboutme-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 350px 500px 420px 300px 100px;
  grid-row-gap: 15px;
  justify-content: center;
  position: relative;
  left: 13px;


}

.experiences-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 350px 160px 300px 150px 400px 100px;
  grid-row-gap: 15px;
  justify-content: center;

}


.projects-container{

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 350px 200px 200px 300px 100px;
  grid-row-gap: 15px;
  justify-content: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 350px 400px 400px 400px 400px 400px 400px 400px 400px 400px 100px;
  grid-row-gap: 10px;
  justify-content: center;
  position: relative;
  left: 15px;
}

.contact-container {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 350px 50px 100px 100px 100px 100px 100px;
  grid-row-gap: 10px;
  justify-content: center;
}

h1 {
  color: #1c124d;
  font-size: 72px;
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  position: relative;
  top: 45px;
  left: 7px;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from{color: #1c124d;}
  to{color: #7e74b5;}
}
.nav {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
  text-align: center;
  position: relative;
}

nav li {

  display: block;
  font-size: 25px;
  padding-bottom: 20px;

}

nav a{
  color: black;
  text-decoration: none;

}

.active {

  font-weight: 1000;

}

.home-image {

 grid-column: 1 / 2;
 grid-row: 3 / 4;
}


.hello{

  position: relative;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 50px;
}

#introp{
  position: relative;
  top: 75px;
  font-size: 20px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

img {
  width: 200px;
}

.northquad-image{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.northquad-image img {
  width: 200px;
  position: relative;
  left: -10px;
}

.studieshead{
  position: relative;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 25px;
}

#studiesp {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  top: 30px;
  font-size: 15px;
}

.parthenon-image{
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.parthenon-image img {
  width: 200px;
  position: relative;
  right: 0px;
}
.greekhead {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  font-size: 25px;
}

#greekp{
  position: relative;
  top: 55px;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  font-size: 15px;
}

.lorde-image {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.lorde-image img {
  width: 200px;
  position: relative;
  left: -10px;
}
.musichead {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  font-size: 25px;
}

#musicp {
  position: relative;
  top: 30px;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  font-size: 15px;
}

.southgatep {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
  font-size: 15px;
  text-align: center;
}

.market-image {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
}

.starbucksp {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
  font-size: 15px;
  text-align: center;
}

.sbux-image {
  grid-column: 1 / span 2;
  grid-row: 6 / 7;
}

.market-image img{
  width: 300px;
  position: relative;
  left: 40px;
}

.sbux-image img {
  width: 300px;
  position: relative;
  left: 40px;
  top: -20px;
}

.UMD {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
  text-align: center;
  font-size: 20px;
}

.priorityh2 {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
  text-align: center;
  font-size: 23px;
}

.priorityp {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
  text-align: center;
  position: relative;
  top: 30px;
}

.queue-image img {
  visibility: hidden;
}

.cch2 {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
  text-align: center;
  font-size: 23px;
}

.ccp {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
  text-align: center;
  position: relative;
  top: 30px;
}

.cc-image img {
  visibility: hidden;
}

.bluewater-image {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
}

.chapel-image {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
}

.sunsetboat-image {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
}

.palm-image {
  grid-column: 1 / span 2;
  grid-row: 6 / 7;
}

.jugs-image {
  grid-column: 1 / span 2;
  grid-row: 7 / 8;
}

.rocks-image {
  grid-column: 1 / span 2;
  grid-row: 8 / 9;
}

.santorinidinner-image {
  grid-column: 1 / span 2;
  grid-row: 9 / 10;
}

.monastery-image {
  grid-column: 1 / span 2;
  grid-row: 10 / 11;
}

.theatre-image {
  grid-column: 1 / span 2;
  grid-row: 11 / 12;
}

.gal {
  width: 300px;
  position: relative;
  left: 40px;
}

.turn {
  width: 200px;
  position: relative;
}

.contacth2 {

  grid-column: 1 / span 2;
  grid-row: 3 / 4;
  font-size: 20px;
  text-align: center;
  position: relative;
}

#contact {

  position: relative;
  left: 70px;
}


input{
  margin-bottom: 20px;
  font-size: 20px;
}

textarea {
  font-size: 21px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1000px){
  .home-container{

    display: grid;
    grid-template-columns: 150px 650px auto 150px;
    grid-template-rows: 100px 50px 500px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;

  }

  h1 {
    grid-column: 2 / span 2;
  }

  .nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  div nav ul{

    text-align: center;

  }

  nav li {
    display: inline;
    font-size: 20px;

  }
   .home-image {

    grid-column: 2 / 3;
  }

  .home-image img {
    width: 300px;
    justify-self: center;

  }

  h2{

    position: relative;
    top: 90px;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    font-family: 'Roboto Condensed', 'IBM Plex Sans';
    font-size: 60px;
  }

  p{
    position: relative;
    top: 160px;
    font-family: 'Roboto Condensed', 'IBM Plex Sans';
    font-size: 40px;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}
